link(href="/libs/bower_components/bootstrap/dist/css/bootstrap.css" ,rel="stylesheet")
script(src="/libs/bower_components/jquery/dist/jquery.js")
script(src="/libs/bower_components/bootstrap/dist/js/bootstrap.js")
//youku.com 样式
//顶部样式，　顶部导航
link(href="/css/g_42.css" ,rel="stylesheet")
title 模仿优酷