.content(style="position:fixed;top:0px;width:100%;z-index:99")
        //.page-header(style="margin:0 0 20px 0;border-bottom:0;")
        div(style="background:white")
            //h1 #{title}
            ul
                li(style="float:left;padding-right:10px"): a(href="/") 主页
                li(style="float:left;padding-right:10px"): a(href="/admin/movie") 管理员录入
                li(style="float:left;padding-right:10px"): a(href="/admin/list") 管理员列表
            nav.navbar.navbar-default(style="clear:both")
                .navbar-header
                    a.navbar-brand.active(href="/") 首页
                div
                    ul.nav.navbar-nav
                        li: a(href="/#") 电视剧
                        li: a(href="/#movies") 东秦TV
                        li.dropdown
                            a.dropdown-toggle(href="#",data-toggle="dropdown") 综艺
                                b.caret
                            ul.dropdown-menu
                                li: a(target="_blank",href="http://www.soku.com/search_video/q_%E5%A5%94%E8%B7%91%E5%90%A7%E5%85%84%E5%BC%9F%20%E7%AC%AC%E5%9B%9B%E5%AD%A3?f=1&kb=04420000kv41003__%E5%A5%94%E8%B7%91%E5%90%A7%E5%85%84%E5%BC%9F&_rp=1ahts4r0hqin&_rp=1ahts4r0hqin") 奔跑吧兄弟
                                li: a(target="_blank",href="http://v.youku.com/v_show/id_XMTU1NDcwMjk2NA==.html?from=s1.8-3-1.1") 极限挑战
                                li: a(target="_blank",href="http://www.soku.com/search_video/q_%E6%AC%A2%E4%B9%90%E6%88%8F%E5%89%A7%E4%BA%BA?f=1&kb=040200000000000__%E6%AC%A2%E4%B9%90%E6%88%8F%E5%89%A7%E4%BA%BA&_rp=1ahts4r0hqin&_rp=1ahts4r0hqin") 欢乐戏剧人
                                li.divider
                                li: a(target="_blank",href="http://www.soku.com/search_video/q_%E6%9A%B4%E8%B5%B0%E5%A4%A7%E4%BA%8B%E4%BB%B6?f=1&kb=040200000000000__%E6%9A%B4%E8%B5%B0%E5%A4%A7%E4%BA%8B%E4%BB%B6&_rp=1ahts4r0hqin&_rp=1ahts4r0hqin") 暴走大事件
div(style="margin-top:92px")














            //.g-header.g-header-fixed.yk-has-nav(id="qheader")
            //    .g-header-container
            //        .g-box
            //            .yk-logo(style="display: block;",id="ab_625")
            //                .mod(id="s_h_737751",align="center")
            //                    object(type="application/x-shockwave-flash",data="swf/140-50-0501.swf",width="140", height="50" )
            //                        param(name="allowscriptaccess",value="always")
            //                        param(name="wmode",value="opaque")
            //                        param(name="movie",value="http://r1.ykimg.com/material/0A03/201604/0429/110103/140-50-0501.swf?url=http%3A%2F%2Fhtml.atm.youku.com%2Fhtmlclick%3Fp%3D625%26pp%3D1103%26pg%3D5%26ca%3D1186737%26ie%3D737751%26k%3D%26u%3Dhttp://v.youku.com/v_show/id_XMTUzNDE2ODQ4NAequal_escequal_esc.html%26md5=b1ad30887d8ad1e78b7a0dbc68d873f6%26uri%3D-1%26dc%3D0" ,width="140", height="50")
            //                        embed(src="swf/140-50-0501.swf" ,allowscriptaccess="always" ,wmode="opaque" ,width="140",border="0" ,align="middle" ,height="50")
            //                    .ad-flag
            //            .g-head-center
            //                .g-head-nav
            //                    li: a() 首页
            //                    li: a() 发现
            //                    li: a() 订阅
            //                        span(class="icon-warn",style="display:none;")
            //                    li: a() 会员
            //                    li: a() 我的
            //            .yk-ucenter
            //                .u-login
            //                    .login-before.handle(style="display: block;")
            //                        a()
            //                            li(class="ico-user-l2") 登录
            //                    .login-after.dropdown.unload.handle(style="display: none;")
            //                        a()
            //                            img(class="avatar",src="youkusrc/sprite_002.gif")
            //                            b(class="caret")
            //                        .panel.u-panel
            //                            i(class="arrow")
            //                            .content
            //                            .u-bottom
            //                                a.singout 退出登录
            //                                a 账户设置
            //                .u-record
            //                    .dropdown
            //                        .handle
            //                            a()
            //                                li(class="ico-urecord")
            //                                b(class="caret")
            //                        .panel
            //                            li(class="arrow")
            //                            .content
            //                                .record-login
            //                                    a() 登录
            //                                .rec-list
            //
            //
            //                .u-notice.unload
            //                .u-upload
            //            .g-so
            //
            //        .top-nav(id="topNav")
