doctype
html
    head
        meta(charset="utf-8")
        include ./includes/head
    body
        include ./includes/header
        block content
        footer(style="margin:10px;height:100px;width:100%;clear:both")
            div <div>
            <div style="text-align:center">欢迎共同讨论<br/>email:cuifancastle@gmail.com<br/>
            <span>qq:876238823<br/>
            </span><img style="display:inline-block" src="http://cnc.qzs.qq.com/qzone/em/e151.gif"><span>&nbsp;感觉就是一个字：</span><span style="display:inline-block;color:white;text-shadow:rgb(255, 0, 0) 1px 0px 4px, rgb(255, 0, 0) 0px 1px 4px, rgb(255, 0, 0) 0px -1px 4px, rgb(255, 0, 0) -1px 0px 4px">累。。。&nbsp;</span><span><br/>
            <img style="display:inline-block" src="http://imgstore04.cdn.sogou.com/app/a/100520032/3669389859068460655">&nbsp;</span></div>
            <span>&nbsp;</span><br/>
            <br/>Helloworld
            </div>
